#root{
    height: 100vh;
}
.ant-layout-content,.ant-layout-has-sider{
    height: 100%;
}
::-webkit-scrollbar{width: 2px;height: 4px;position: absolute;}
::-webkit-scrollbar-thumbP{background-color: beige;}
::-webkit-scrollbar-track{background-color: rgb(10, 123, 223);}